body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 100%;
  background-color: #f4f4f4;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 320px;
  border: 1px solid #ccc;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  border: 2px grey ridge;
  
}

#display {
  height: 50px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 24px;
  background-color: #e9ecef;
  border: 2px grey ridge;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn{
  border: 1px grey ridge;
  font-size: 16px;
  font-weight: 600;
}

button {
  height: 60px;
  font-size: 20px;
  border: 2px grey ridge;
}
